---
title: FraserDeans.com
---

%h1 Hello. I'm Fraser.

%h2
  Here’s 3 things to know about me. If you care to.

%h3 Thing one. I’m co-founder at Nickelled.
%p With Nickelled, web companies build step-by-step tutorials that turn their inactive users into engaged customers. It’s a luxury and a pleasure to help great people solve their problems everyday.

%h3 Thing two. I’m homeless.
%p Well… not properly. Just in a sort of middle-class privileged kinda way.

%p In my pursuit of a ‘minimal lifestyle’ I’ve turned my back on mortgages, long-term rental contracts and squashed my worldly possessions into a 22-litre backpack. Minimise to maximise.

%h3 Thing three. I’m a perpetual traveller.
%p Adopting a pure digital lifestyle means I don’t have to be anywhere… so why be anywhere in particular?

%p Coffee shops, co-working spaces and the kitchen table become my office – enabling a life of long term travel.

%p Over the last two years, I’ve made home (and friends) wherever I lay my hat: Spain, Portugal, Morocco, Thailand, Hong Kong, Taiwan and Japan.

%h2 Here's some things I've been involved in.
%ul
  %li
    %h3 Nickelled
    :markdown
      Nickelled helps SaaS companies convert their users from trial accounts to paid accounts using step-by-step guides.
      <br/>
      [Visit website](https://www.nickelled.com)
      <br/>
      Featured on [Mashable](http://mashable.com/2015/01/12/onboarding-tools/), [ConversionXL](http://conversionxl.com/6-user-onboarding-flows/)

  %li
    %h3 Shutl
    :markdown
      Same-day delivery service, delivering your online orders to your door in 90-minutes. The record is under 15 minutes! The company was acquired by eBay in 2013.
      <br/>
      [Visit website](http://www.shutl.com)
      <br />
      Featured on [BBC](http://www.bbc.co.uk/news/technology-24637668), [Wired](http://www.wired.co.uk/article/tom-allason-shutl-ebay-delivery), [Mashable](http://mashable.com/2013/02/28/shutl/#TErfwQT59aqd), [TechCrunch](http://techcrunch.com/2012/10/11/e-commerce-delivery-startup-shutl-lands-another-3-2m-in-run-up-to-u-s-launch/)

  %li
    %h3 20Cubed
    :markdown
      Popular Chrome extension for computer users to look after their health.
      <br/>
      [Visit website](https://chrome.google.com/webstore/detail/20-cubed/geghmabifcdlkmpnkapfefbbfaonhcef)
      <br/>
      Featured on [Fast Company](http://www.fastcompany.com/1837161/how-make-most-your-too-short-work-break), [Lifehacker](http://lifehacker.com/5872378/20-cubed-for-chrome-reminds-you-to-rest-your-eyes-and-take-a-break)
  %li
    %h3 Police National Database
    :markdown
      Consolidation of UK Police force data into one applicaton for detectives to query, find connections between crimes and lock up the bad guys.
      <br/>
      Featured on [BBC News](http://www.bbc.co.uk/news/uk-13879683), [The One Show](https://www.youtube.com/watch?v=7NFLLOWdXSI)
